* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  /* border: 1px solid black; */
  width: 100%;
  /* height: 121px; */
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.navbar {
  /* border: 1px solid black; */
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f7cc;
}
.menubar {
  /* border: 1px solid black; */
  display: flex;
}
.navbar_hero {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 73px;
  background-color: #ffffff;
  font-family: "Inter";
  font-size: 14px;
}

.menu_list {
  display: none;
}

/* first page */
.first_page {
  width: 100%;
  height: 500px;
  background-image: url("./zurag1.jpg");

  background-position: center;
  background-size: cover;

  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 30px;
}
.first_page_hero {
  /* border: 1px solid white; */
  /* width: 241px; */
  height: 114px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.phone {
  font-size: 30px;
  font-family: "Inter";
  font-weight: 700;
  font-style: bold;
  color: #f5f5f7;
}
.hello {
  font-size: 18px;
  font-family: "Inter";
  font-weight: 400;
  color: #f5f5f7;
}
.button {
  /* border: 1px solid white; */
  width: 207px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.learn {
  width: 107px;
  height: 36px;
  border-radius: 40px;
  background-color: #2997ff;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 400;
  color: #f5f5f7;
  border: none;
}
.buy {
  width: 66px;
  height: 36px;
  border-radius: 40px;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 400;
  color: #2997ff;
  background-color: transparent;
  border: 1px solid white;
}
/* mediaaaaaa */
@media (min-width: 768px) {
  .navbar_hero {
    width: 100%;
    height: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .first_page {
    width: 100%;
    height: 650px;
    background-image: url("./zurag1-1.jpg");
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    background-position: center;
    background-size: cover;
  }
  .first_page_hero {
    /* border: 1px solid white; */
    /* width: 241px; */
    height: 156px;
  }
  .phone {
    font-size: 42px;
  }
  .hello {
    font-size: 22px;
  }
  .button {
    /* border: 1px solid white; */
    width: 207px;
    height: 44px;
    display: flex;
    justify-content: space-between;
  }
  .learn {
    width: 123px;
    font-size: 16px;
  }
  .buy {
    width: 68px;
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .navbar {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 24px;
  }
  .navbar_hero {
    width: 100%;
    height: 44px;
    padding-top: 16x;
    padding-bottom: 16px;
  }
  .menu_list {
    display: block;
    list-style: none;
    display: flex;
    gap: 24px;
    align-items: center;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
  }
  .menu {
    display: none;
  }
  .first_page {
    width: 100%;
    height: 650px;
    background-image: url("./zurag1-2.jpg");
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 55px;
    background-position: center;
    background-size: cover;
  }
  .first_page_hero {
    /* border: 1px solid white; */
    /* width: 241px; */
    height: 172px;
  }
  .phone {
    font-size: 52px;
  }
  .hello {
    font-size: 24px;
  }
  .button {
    /* border: 1px solid white; */
    width: 207px;
    display: flex;
    justify-content: space-between;
  }
  .learn {
    width: 123px;
    font-size: 16px;
  }
  .buy {
    width: 68px;
    font-size: 16px;
  }
}
/* second page */
.second_page {
  width: 100%;
  height: 500px;
  background-image: url("./zurag2.jpg");

  background-position: center;
  background-size: cover;
  padding-top: 40px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* mediaaaaaa */
@media (min-width: 768px) {
  .second_page {
    width: 100%;
    height: 650px;
    background-image: url("./zurag2-1.jpg");
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    background-position: center;
    background-size: cover;
  }
  .second_page_hero {
    height: 156px;
  }
}
