* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  border: 1px solid black;
  width: 100vh;
  height: 121px;
}
.navbar {
  border: 1px solid black;
  width: 100vh;
  height: 48px;
  display: flex;
}
.logo {
  margin-right: auto;
}
