* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  border: 1px solid black;
  width: 100vh;
  height: 121px;
}
.navbar {
  border: 1px solid black;
  width: 100vh;
  height: 48px;
  display: flex;
  justify-content: space-between;
}
.menubar {
  border: 1px solid black;
  display: flex;
}
.navbar_hero {
  display: flex;
  justify-content: center;
  text-align: center;
}
