* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  /* border: 1px solid black; */
  width: 100%;
  /* height: 121px; */
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.navbar {
  /* border: 1px solid black; */
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f7cc;
}
.container {
  display: none;
}
.menubar {
  /* border: 1px solid black; */
  display: flex;
}
.navbar_hero {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 73px;
  background-color: #ffffff;
  font-family: "Inter";
  font-size: 14px;
}
.navbar_hero p {
  padding-left: 31px;
  padding-right: 31px;
}
.menu_list {
  display: none;
}

/* first page */
.first_page {
  width: 100%;
  height: 500px;
  background-image: url("./images/zurag1.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 30px;
}
.first_page_hero {
  width: 241px;
  height: 114px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.phone {
  font-size: 30px;
  font-family: "Inter";
  font-weight: 700;
  font-style: bold;
  color: #f5f5f7;
}
.hello {
  font-size: 18px;
  font-family: "Inter";
  font-weight: 400;
  color: #f5f5f7;
}
.button {
  width: 241px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.learn {
  width: 107px;
  height: 36px;
  border-radius: 40px;
  background-color: #2997ff;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 400;
  color: #f5f5f7;
  border: none;
}
.buy {
  width: 66px;
  height: 36px;
  border-radius: 40px;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 400;
  color: #2997ff;
  background-color: transparent;
  border: 1px solid #2997ff;
}
.third_page_web {
  display: none;
}

/* mediaaaaaa */
@media (min-width: 500px) {
  .navbar_hero {
    width: 100%;
    height: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .first_page {
    width: 100%;
    height: 650px;
    background-image: url("./images/zurag1-1.jpg");
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    background-position: center;
    background-size: cover;
  }
  .first_page_hero {
    width: 405px;
    height: 156px;
  }
  .phone {
    font-size: 42px;
  }
  .hello {
    font-size: 22px;
  }
  .button {
    /* border: 1px solid white; */
    width: 207px;
    height: 44px;
    display: flex;
    justify-content: space-between;
  }
  .learn {
    width: 123px;
    font-size: 16px;
  }
  .buy {
    width: 68px;
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .navbar {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 24px;
  }
  .navbar_hero {
    width: 100%;
    height: 44px;
    padding-top: 16x;
    padding-bottom: 16px;
  }
  .menu_list {
    display: block;
    list-style: none;
    display: flex;
    gap: 24px;
    align-items: center;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
  }
  .menu {
    display: none;
  }
  .first_page {
    width: 100%;
    height: 692px;
    background-image: url("./images/zurag1-2.jpg");
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 55px;
    background-position: center;
    background-size: cover;
  }
  .first_page_hero {
    width: 405px;
    height: 172px;
  }
  .phone {
    font-size: 52px;
  }
  .hello {
    font-size: 24px;
  }
  .button {
    width: 207px;
    display: flex;
    justify-content: space-between;
  }
  .learn {
    width: 123px;
    font-size: 16px;
  }
  .buy {
    width: 68px;
    font-size: 16px;
  }
}
/* second page */
.second_page {
  width: 100%;
  height: 500px;
  background-image: url("./images/zurag2.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.learn1 {
  width: 107px;
  height: 36px;
  border-radius: 40px;
  background-color: #ffffff;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 400;
  color: #000000;
  border: none;
}
.buy1 {
  width: 66px;
  height: 36px;
  border-radius: 40px;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
}

/* mediaaaaaa */
@media (min-width: 768px) {
  .second_page {
    width: 100%;
    height: 650px;
    background-image: url("./images/zurag2-1.jpg");
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    background-position: center;
    background-size: cover;
  }
  .first_page_hero {
    width: 405px;
    height: 156px;
  }
  .phone {
    font-size: 42px;
  }
  .hello {
    font-size: 22px;
  }
  .button {
    width: 207px;
    height: 44px;
    display: flex;
    justify-content: space-between;
  }
  .learn1 {
    width: 123px;
    font-size: 16px;
  }
  .buy1 {
    width: 68px;
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .second_page {
    width: 100%;
    height: 692px;
    background-image: url("./images/zurag2-2.jpg");
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 55px;
    background-position: center;
    background-size: cover;
  }
  .second_page_hero {
    width: 405px;
    height: 172px;
  }
  .phone {
    font-size: 52px;
  }
  .hello {
    font-size: 24px;
  }
  .button {
    width: 207px;
    display: flex;
    justify-content: space-between;
  }
  .learn1 {
    width: 123px;
    font-size: 16px;
  }
  .buy1 {
    width: 68px;
    font-size: 16px;
  }
}

/* third page  */

.third_page {
  width: 100%;
  height: 500px;
  background-image: url("./images/zurag3.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: self-start;
  padding-top: 36px;
}
.third_page_hero {
  width: 390px;
  height: 133px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.third_page_hero img {
  width: 180px;
  height: 42px;
}
.third_page_hero p {
  font-size: 18px;
  font-family: "Inter";
  font-weight: 400;
  color: #000000;
}
@media (min-width: 500px) {
  .third_page {
    width: 100%;
    height: 650px;
    background-image: url("./images/zurag3-1.jpg");
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 58px;
    background-position: center;
    background-size: cover;
  }
  .third_page_hero {
    width: 405px;
    height: 139px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .third_page_hero img {
    width: 180px;
    height: 39px;
  }
  .third_page_hero p {
    font-size: 22px;
    font-family: "Inter";
    font-weight: 400;
    color: #000000;
  }
}
@media (min-width: 1024px) {
  .third_page {
    display: none;
  }
  .third_page_web {
    display: block;
    width: 100%;
    height: 692px;
    background-image: url("./images/zurag3-2.jpg");
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 70px;
    background-position: center;
    background-size: cover;
  }
  .third_page_hero_web {
    /* border: 1px solid black; */
    width: 405px;
    height: 164px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .gift {
    font-family: "Inter";
    font-weight: 600;
    font-size: 52px;
    font-style: bold;
  }
  .wish {
    font-family: "Inter";
    font-weight: 400;
    font-size: 24px;
  }

  .shop {
    width: 114px;
    height: 44px;
    border-radius: 40px;
    background-color: #0071e3;
    color: #ffffff;
    border: none;
    font-size: 16px;
    font-family: "Inter";
    font-weight: 400;
  }
}
.big_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
/* fourth page */
.fourth_page {
  width: 100%;
  height: 500px;
  background-image: url("./images/zurag4.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 50px;
}
.fourth_page_hero {
  width: 241px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.fourth_page_hero_words p {
  font-size: 18px;
  font-family: "Inter";
  font-weight: 400;
  color: #f5f5f7;
  display: flex;
  text-align: center;
  justify-content: center;
}

/* fifth page */
.fifth_page {
  width: 100%;
  height: 500px;
  background-image: url("./images/zurag5.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 46px;
}
.fifth_page_hero {
  width: 235px;
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.watch {
  width: 152px;
  height: 34px;
  display: flex;
  gap: 10px;
}
.watch img {
  width: 22px;
  height: 27px;
}
.watch p {
  font-size: 28px;
  font-family: "Inter";
  font-weight: 700;
  font-style: bold;
  color: #000000;
}
.series {
  font-size: 13px;
  font-family: "Inter";
  font-weight: 700;
  color: #000000;
  font-style: bold;
}
.classic {
  font-size: 18px;
  font-family: "Inter";
  font-weight: 400;
  color: #000000;
}
/* sixth page */

.sixth_page {
  width: 100%;
  height: 500px;
  background-image: url("./images/zurag6.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 46px;
}
.sixth_page_hero {
  width: 257px;
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.mac {
  font-size: 30px;
  font-family: "Inter";
  font-weight: 700;
  font-style: bold;
  color: #1d1d1f;
}
.m3 {
  font-size: 18px;
  font-family: "Inter";
  font-weight: 400;
  color: #1d1d1f;
}
/* seventh page */
.seventh_page {
  width: 100%;
  height: 500px;
  background-image: url("./images/zurag7.png");
  background-position: center;
  background-size: cover;
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 46px;
}
.seventh_page_hero {
  width: 257px;
  height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.apple_for {
  font-size: 30px;
  font-family: "Inter";
  font-weight: 700;
  font-style: bold;
  color: #1d1d1f;
}
.software {
  font-size: 18px;
  font-family: "Inter";
  font-weight: 400;
  color: #1d1d1f;
}
.business_button {
  height: 36px;
  width: 150px;
  border-radius: 40px;
  background-color: #0071e3;
  color: #ffffff;
  border: none;
  margin-top: 10px;
}
/* eight page */
.eight_page {
  width: 100%;
  height: 500px;
  background-image: url("./images/zurag8.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 50px;
}
.eight_page_hero {
  width: 314px;
  height: 152px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.deal {
  font-size: 30px;
  font-family: "Inter";
  font-weight: 700;
  font-style: bold;
  color: #1d1d1f;
}
.credit {
  font-size: 18px;
  font-family: "Inter";
  font-weight: 400;
  color: #1d1d1f;
}
.deal_button {
  height: 36px;
  width: 126px;
  border-radius: 40px;
  background-color: #0071e3;
  color: #ffffff;
  border: none;
}

/* ninth page */
.ninth_page {
  width: 100%;
  height: 500px;
  background-image: url("./images/zurag9.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 51px;
}
.ninth_page_hero {
  width: 285px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.trade {
  width: 152px;
  height: 34px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.trade img {
  width: 22px;
  height: 27px;
}
.trade p {
  font-size: 28px;
  font-family: "Inter";
  font-weight: 700;
  font-style: bold;
  color: #000000;
}
.trade_word {
  font-size: 18px;
  font-family: "Inter";
  font-weight: 400;
  color: #1d1d1f;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.estimation_button {
  height: 36px;
  width: 150px;
  border-radius: 40px;
  background-color: #0071e3;
  color: #ffffff;
  border: none;
}
@media (min-width: 500px) {
  .container {
    display: none;
  }
  .big_container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }
}
.tenth_page {
  width: 100%;
  height: 580px;
  background-image: url("./images/zurag10.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: self-start;
  padding-top: 36px;
}
.tenth_page_hero {
  width: 390px;
  height: 133px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.tenth_page_hero img {
  width: 180px;
  height: 42px;
}
.tenth_page_hero p {
  font-size: 18px;
  font-family: "Inter";
  font-weight: 400;
  color: #000000;
}
.eleventh_page {
  width: 100%;
  height: 580px;
  background-image: url("./images/zurag11.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 50px;
}
.eleventh_page_hero {
  width: 380px;
  height: 147px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.eleventh_page_hero_words p {
  font-size: 18px;
  font-family: "Inter";
  font-weight: 400;
  color: #f5f5f7;
  font-style: bold;
  display: flex;
  text-align: center;
  justify-content: center;
}
.twelfth_page {
  width: 100%;
  height: 580px;
  background-image: url("./images/zurag12.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 58px;
}
.twelfth_page_hero {
  width: 235px;
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.thirteeth_page {
  width: 100%;
  height: 580px;
  background-image: url("./images/zurag13.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 46px;
}
.thirteeth_page_hero {
  width: 257px;
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.fortheen_page {
  width: 100%;
  height: 580px;
  background-image: url("./images/zurag14.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 51px;
}
.fortheen_page_hero {
  width: 285px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.fiftheen_page {
  width: 100%;
  height: 580px;
  background-image: url("./images/zurag15.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 51px;
}
.fiftheen_page_hero {
  width: 285px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cash_button {
  height: 36px;
  width: 246px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.cash_button1 {
  height: 36px;
  width: 114px;
  border-radius: 40px;
  background-color: #0071e3;
  color: #ffffff;
  border: none;
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
}
.cash_button2 {
  height: 36px;
  width: 114px;
  border-radius: 40px;
  background-color: transparent;
  color: #0071e3;
  border: 1px solid #0071e3;
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
}

@media (min-width: 1024px) {
  .big_container {
    display: none;
  }
  .container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    column-gap: 12px;
    row-gap: 12px;
  }
}
.tablet_scroll {
  display: none;
}
.infinite_scroll {
  display: none;
}
.web_scroll {
  display: none;
}
.tablet_infinite_scroll {
  display: none;
}
.buleg {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.scroll {
  display: flex;
  flex-direction: column;
  height: 533px;
  justify-content: space-between;
  align-items: center;
}
.scroll_images {
  width: 100%;
  height: 495px;
  display: flex;
  gap: 12px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.indicator {
  display: flex;
  gap: 20px;
}
a {
  width: 15px;
  height: 15px;
  background-color: gray;
  border-radius: 100%;
}
.dot1 {
  background-color: #000000cc;
}
.dot2 {
  background-color: #000000cc;
}
@media (min-width: 500px) {
  .scroll {
    display: none;
  }
  .web_scroll {
    display: none;
  }
  .scroll_images {
    height: 368px;
  }
  .tablet_scroll {
    display: flex;
    flex-direction: column;
    height: 406px;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .scroll {
    display: none;
  }
  .tablet_scroll {
    display: none;
  }
  .scroll_images {
    height: 668px;
  }
  .web_scroll {
    display: flex;
    flex-direction: column;
    height: 706px;
    justify-content: space-between;
    align-items: center;
  }
}
.phone_infinite_scroll {
  width: 100%;
  display: flex;
  overflow-x: auto;
  gap: 15px;
}
.phone_infinite_scroll::-webkit-scrollbar {
  display: none;
}
.phone_infinite_scroll_group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  animation: spin 8s infinite linear;
}
.phone_card1 {
  width: 238px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.phone_card1_word {
  background-color: #6529cf;
  height: 134px;
  width: 238px;
  position: relative;
}
.phone_infinite1 {
  position: absolute;
  top: 10px;
  left: 62px;
}
.phone_infinite {
  position: absolute;
  top: 114px;
  left: 187px;
  height: 10px;
  width: 41px;
}
.phone_card1 p {
  font-size: 12px;
  font-family: "Inter";
  font-style: bold;
  font-weight: 700;
  color: #1d1d1f;
}
.phone_card2 {
  width: 238px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.phone_card2 p {
  font-size: 12px;
  font-family: "Inter";
  font-style: bold;
  font-weight: 700;
  color: #1d1d1f;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
@media (min-width: 500px) {
  .phone_infinite_scroll {
    display: none;
  }
  .tablet_infinite_scroll {
    width: 100%;
    display: flex;
    overflow-x: auto;
    gap: 15px;
  }
  .tablet_infinite_scroll::-webkit-scrollbar {
    display: none;
  }
  .tablet_infinite_scroll_group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    animation: spin 8s infinite linear;
  }
  .tablet_card1 {
    width: 286px;
    height: 194px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .tablet_card1_word {
    background-color: #6529cf;
    height: 161px;
    width: 286px;
    position: relative;
  }
  .tablet_infinite {
    position: absolute;
    top: 135px;
    left: 225px;
    height: 10px;
    width: 41px;
  }
  .tablet_infinite1 {
    position: absolute;
    top: 20px;
    left: 72px;
  }
  .tablet_card1 p {
    font-size: 14px;
    font-family: "Inter";
    font-style: bold;
    font-weight: 700;
    color: #1d1d1f;
  }
  .tablet_card2 {
    width: 286px;
    height: 194px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .tablet_card2 p {
    font-size: 14px;
    font-family: "Inter";
    font-style: bold;
    font-weight: 700;
    color: #1d1d1f;
  }
  .tablet_card2_word img {
    height: 161px;
    width: 286px;
  }

  @keyframes spin {
    from {
      translate: 0;
    }
    to {
      translate: -100%;
    }
  }
}
@media (min-width: 1024px) {
  .tablet_infinite_scroll {
    display: none;
  }
  .infinite_scroll {
    width: 100%;
    display: flex;
    overflow-x: auto;
    gap: 15px;
  }
  .infinite_scroll::-webkit-scrollbar {
    display: none;
  }
  .infinite_scroll_group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    animation: spin 10s infinite linear;
  }
  .card1 {
    height: 236px;
    width: 417px;
    background-image: url(./images/infiniti_scrol1.jpg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: flex-end;
    padding-bottom: 30px;
  }
  .card1_word {
    width: 300px;
    height: 22px;
  }
  .card1_word p {
    font-size: 14px;
    font-family: "Inter";
    font-style: bold;
    font-weight: 600;
    color: #ffffff;
  }
  .card1 img {
    width: 78px;
    height: 14px;
  }
  .card2 {
    height: 236px;
    width: 417px;
    background-image: url(./images/infiniti_scrol2.jpg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: flex-end;
    padding-bottom: 30px;
  }
  .card2_word {
    width: 180px;
    height: 18px;
  }
  .card2_word p {
    font-size: 14px;
    font-family: "Inter";
    font-style: bold;
    font-weight: 600;
    color: #ffffff;
  }

  .card3 {
    height: 236px;
    width: 417px;
    background-image: url(./images/infiniti_scrol3.jpg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: flex-end;
    padding-bottom: 30px;
  }
  .card4 {
    height: 236px;
    width: 417px;
    background-color: #1b2632;
    display: flex;
    position: relative;
    align-items: center;
  }
  .singer_image {
    height: 196px;
    width: 196px;
    padding-left: 15px;
  }
  .music_logo {
    height: 14px;
    width: 59px;
    position: absolute;
    top: 199px;
    left: 343px;
  }
  .card4 p {
    font-size: 14px;
    font-family: "Inter";
    font-style: bold;
    font-weight: 600;
    color: #ffffff;
    position: absolute;
    top: 109px;
    left: 226px;
  }
  .card5 {
    height: 236px;
    width: 417px;
    background-color: #ebb799;
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 15px;
  }

  @keyframes spin {
    from {
      translate: 0;
    }
    to {
      translate: -100%;
    }
  }
}
